@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Jost";
		font-weight: 300;
		src: url(../public/static/fonts/Jost-Light.woff) format("woff"),
			url(../public/static/fonts/Jost-Light.ttf) format("ttf");
	}

	@font-face {
		font-family: "Jost";
		font-weight: 500;
		src: url(../public/static/fonts/Jost-Medium.woff) format("woff"),
			url(../public/static/fonts/Jost-Medium.ttf) format("ttf");
	}

	@font-face {
		font-family: "RobotoMono";
		font-weight: 400;
		src: url(../public/static/fonts/RobotoMono-Regular.woff) format("woff"),
			url(../public/static/fonts/RobotoMono-Regular.ttf) format("ttf");
	}
	body {
		font-size: 16px;
		line-height: 1.6;
		font-family: "RobotoMono", sans-serif;
	}
}
#defaultCanvas0 {
	width: 100% !important;
	height: auto !important;
	min-height: 100vh;
}
